<?xml version="1.0"?>
<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.5" />
  <arg name="yaw" default="0.0" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ryobi_description)/urdf/ryobi.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model ryobi -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>

  <!-- Publish robot state to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ryobi_description)/config/laser_controllers.yaml" command="load" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/ryobi" args="laser_pan_position_controller laser_tilt_position_controller"/>
</launch>
